<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TestingFrameworks" type="DotNetTestCasesExtractor.TestingFrameworksSection, DotNetTestCasesExtractor"/>
	</configSections>

	<TestingFrameworks>
		<add TestCaseClassAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.TestClassAttribute"
			  TestCaseMethodAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.TestMethodAttribute"
			  TestCaseCategoryAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute"
			  TestCaseCategoriesPropertyName="TestCategories"
			  TestCaseIgnoreAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.IgnoreAttribute"
			  
			  TestCaseSourceAttribute="NUnit.Framework.TestCaseSourceAttribute"
			  TestCaseSourceName="SourceName"
			  TestCaseSourceType="SourceType"
			  TestCaseDataName="NUnit.Framework.TestCaseData" />

		<add TestCaseClassAttribute="Microsoft.VisualStudio.TestTools.UITesting.CodedUITestAttribute"
			  TestCaseMethodAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.TestMethodAttribute"
			  TestCaseCategoryAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute"
			  TestCaseCategoriesPropertyName="TestCategories"
			  TestCaseIgnoreAttribute="Microsoft.VisualStudio.TestTools.UnitTesting.IgnoreAttribute"
			  
			  TestCaseSourceAttribute="NUnit.Framework.TestCaseSourceAttribute"
			  TestCaseSourceName="SourceName"
			  TestCaseSourceType="SourceType"
			  TestCaseDataName="NUnit.Framework.TestCaseData" />

		<add TestCaseClassAttribute="NUnit.Framework.TestFixtureAttribute"
			  TestCaseMethodAttribute="NUnit.Framework.TestAttribute"
			  TestCaseCategoryAttribute="NUnit.Framework.CategoryAttribute"
			  TestCaseCategoriesPropertyName="Name"
			  TestCaseIgnoreAttribute="NUnit.Framework.IgnoreAttribute"
			  
			  TestCaseSourceAttribute="NUnit.Framework.TestCaseSourceAttribute"
			  TestCaseSourceName="SourceName"
			  TestCaseSourceType="SourceType"
			  TestCaseDataName="NUnit.Framework.TestCaseData" />

		<add TestCaseClassAttribute="NUnit.Framework.TestFixtureSourceAttribute"
			  TestCaseMethodAttribute="NUnit.Framework.TestAttribute"
			  TestCaseCategoryAttribute="NUnit.Framework.CategoryAttribute"
			  TestCaseCategoriesPropertyName="Name"
			  TestCaseIgnoreAttribute="NUnit.Framework.IgnoreAttribute"
			  
			  TestCaseSourceAttribute="NUnit.Framework.TestFixtureSourceAttribute"
			  TestCaseSourceName="SourceName"
			  TestCaseSourceType="SourceType"
			  TestCaseDataName="NUnit.Framework.TestFixtureData" />
	</TestingFrameworks>

</configuration>