<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProcessWideConfig" type="PTR.ProcessWideConfigSection, PTR"/>
		<section name="TestingConfigurations" type="PTR.TestingConfigurationsSection, PTR"/>
		<section name="SharedResources" type="PTR.SharedResourcesSection, PTR"/>
	</configSections>

	<ProcessWideConfig LoggingLocation="C:\CanBeDel\TestExecutionLocation"
							 MaxThreads="6"
							 BeforeTestExecution=""
							 AfterTestExecution="C:\Users\aseem\Desktop\ParallelTestExecution\XmlToHtml.bat"
							 SemicolonSeparatedFilesHavingTestCases="xyz1.dll;xyz2.dll"
							 TestRunner="junitRunner"
							 MakeTestRunnerAsChildProcessOfPTR="true"
							 WorkingDirectoryOfTestRunner=""
							 ExecutionLocation="."
							 TestingProjectLocation="C:\TestingProject"
							 LoadTestingProjectBinariesFromItsOwnLocationOnly="false"
							 TestCasesExtractor="C:\testCasesExtractorModule.jar @Param command-line-parameter"
							 TestCategories="Catgory_1^Catgory_2 | Catgory_1^!Catgory_2 | Catgory_1^Catgory_2^!Catgory_3"
							 TestClasses="Class1|Class1"
							 SemicolonSeparatedTestCases="case1;case2"
							 SemicolonSeparatedTestCasesToBeSkipped="case1;case3"
							 BeforeRunConfigEditor="someExecutable"
							 TimesToRerunFailedTestCases="0"
							 BeforeRerunConfigEditor="someExecutable"
							 ThreadCount="1"
							 MinBucketSize="3"
							 MaxBucketSize="20"
							 ConcurrentUnit="1"
							 ReportProcessor="someExecutable"
							 CleanAfterCompletion="false" />

	<TestingConfigurations>
		<Config ID="NUnit-ie-mstest"
				  IsEnabled="true"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases=""
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\Resources\MsTestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResults.trx"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\MsTestProject_2\CalculatorTestingProject\bin\Debug"
				  LoadTestingProjectBinariesFromItsOwnLocationOnly="true"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:XPaths.txt @Param/Path:SampleComplexXmlConfigFile.xml"
				  TimesToRerunFailedTestCases="2"
				  BeforeRerunConfigEditor=""
				  ThreadCount="3"
				  MinBucketSize="3"
				  MaxBucketSize="8"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\TrxUtil\bin\Debug\TrxUtil.exe"
				  CleanAfterCompletion="true" />
		
		<Config ID="NUnit-ie"
				  IsEnabled="true"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases="NUnitTestProject.dll"
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\Resources\Nunit3TestRunner.bat"
				  MakeTestRunnerAsChildProcessOfPTR="true"
				  ExecutionLocation="C:\CanBeDel\TestExecutionLocation"
				  ReportingLocation="C:\CanBeDel\TestExecutionLocation\TestResults.xml"
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\NUnitTestProject_3\NUnitTestProject\bin\Debug"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses=""
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor=""
				  TimesToRerunFailedTestCases="2"
				  BeforeRerunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:XPaths.txt @Param/Path:ConfigFile.xml @Param/SharedResources:SR_1;SR_2"
				  ThreadCount="5"
				  MinBucketSize="3"
				  MaxBucketSize="8"
				  ConcurrentUnit="1"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\NUnitReportUtility\bin\Debug\NUnitReportUtility.exe"
				  CleanAfterCompletion="true" />
		
		<Config ID="junit-ie"
				  IsEnabled="false"
				  SemicolonSeparatedConfigResultsToBeMergedInto=""
				  SemicolonSeparatedFilesHavingTestCases="CalculatorTestingProject.dll;"
				  TestRunner="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\Resources\MsTestRunner.bat"
				  ExecutionLocation="C:\TestExecutionLocation"
				  ReportingLocation=""
				  TestingProjectLocation="C:\Users\aseem\Desktop\ParallelTestExecution\MsTestProject_2\CalculatorTestingProject\bin\Debug"
				  TestCasesExtractor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\DotNetTestCasesExtractor\bin\Debug\DotNetTestCasesExtractor.exe"
				  TestCategories=""
				  TestClasses="Class1|Class1"
				  SemicolonSeparatedTestCases=""
				  SemicolonSeparatedTestCasesToBeSkipped=""
				  BeforeRunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:XPaths.txt @Param/Path:SampleComplexXmlConfigFile.xml @Param/SharedResources:SR_1;SR_2"
				  TimesToRerunFailedTestCases="0"
				  BeforeRerunConfigEditor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\XmlEditor\bin\Debug\XmlEditor.exe @Param/Path:XPaths.txt @Param/Path:SampleComplexXmlConfigFile.xml @Param/SharedResources:SR_1;SR_2"
				  ThreadCount="6"
				  MinBucketSize="3"
				  MaxBucketSize="3"
				  ConcurrentUnit="2"
				  ReportProcessor="C:\Users\aseem\Desktop\ParallelTestExecution\Final\ParallelTestRunner\TrxUtil\bin\Debug\TrxUtil.exe"
				  CleanAfterCompletion="true" />
	</TestingConfigurations>

	<!--<SharedResources>
		<add ID="SR_1" SemicolonSeparatedResources="SeleniumHub:=:https:\\99999\\10101010;DatabaseServer:=:ConnectionString 999999"/>
		<add ID="SR_2" SemicolonSeparatedResources="SeleniumHub:=:https:\\AAAAA\\BBBBB;DatabaseServer:=:ConnectionString AAAAA"/>
	</SharedResources>-->
	
	<SharedResources>
		<add ID="SR_1" SemicolonSeparatedResources="VAL:=:3"/>
		<add ID="SR_2" SemicolonSeparatedResources="VAL:=:2"/>
	</SharedResources>

	<!--Documentation:
      - TestRunner: Possible values = junit, testNG, NUnit, MsTest, xUnit-->
</configuration>